@font-face {
   font-family: 'Copperplate Gothic Bold Regular';
   font-display: swap;
   src: url('file:///C:/Users/Gabriele/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-04-11_212643/fonts/Copperplate%20Gothic%20Bold%20Regular/font.ttf');
}
