@font-face {
   font-family: 'lucida-sans-typewriter (1)';
   font-display: swap;
   src: url('file:///C:/Users/Gabriele/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-04-11_212643/fonts/lucida-sans-typewriter%20(1)/font.zip');
}
